/*
TABLE OF CONTENTS
1. universal styles
2. nav styles
3. index
4. about
5. employment
6. disability
7. resources
*/

/*-------------------
1. universal styles
-------------------*/
@font-face {
  font-family:'Monotype Corsiva', serif;
  src: url('../media/font/MonotypeCorsiva.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body{
  margin: 0 10%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1{
  font-size: 45pt;
  font-family: 'Monotype Corsiva',serif;
  text-align: center;
}

.sub-title{
  font-size: 15pt;
  font-weight: 600;
}

p{
  font-size: 12pt;
}
/*-------------------
2. nav styles
-------------------*/
nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #273985;
  text-align: center;
}

nav ul li {
  list-style: none;
  float: left;
  text-align: center;
    width: calc(100% / 7);
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 25px 0px;
}

nav ul li:hover {

}

#logo {
  width: px;
  height: 50px;
  position: relative;
  right: -18px;
}

#logoText {
  color: #fff;
  float: right;
  text-align: left;
  font-style: italic;
}

#logoWrapper{
  position: relative;
  top: 7px;
}


/*-------------------
3. index
-------------------*/

/*-------------------
4. about
-------------------*/

/*-------------------
5. employment
-------------------*/

/*-------------------
6. disability
-------------------*/

/*-------------------
7. resources
-------------------*/
